<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="Memberportal.test.testcomponents.Listeners"></listener>
	</listeners>
	<test thread-count="10" name="Regression Test">

		<classes>
			<class name="Memberportal.main.Memberportalmain" />
		</classes>
	</test>


</suite>

